@charset "UTF-8";

.button {
	position: relative;
	width: 45px;
	height: 25px;
	font-size: 10px;
	left: 50%;
	top: 50%;
}

.border-style {
	border-radius: 75px/90px;
}

#padding {
	padding: 0px 0px 0px 15px;
}

.note {
	position: absolute;
	width: 50px;
	height: 50px;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-name: note;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes note { 0%{
	left: 640px;
	top: 0px;
}

25
%
{
left
:
700px;
top
:
60px;
}
50
%
{
left
:
760px;
top
:
0px;
}
75
%
{
left
:
700px;
top
:
-60px;
}
100
%
{
left
:
640px;
top
:
0px;
}
}
.note1 {
	position: absolute;
	width: 50px;
	height: 50px;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-name: note1;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@
keyframes note1 { 0%{
	left: 760px;
	top: 0px;
}

25
%
{
left
:
700px;
top
:
-60px;
}
50
%
{
left
:
640px;
top
:
0px;
}
75
%
{
left
:
700px;
top
:
60px;
}
100
%
{
left
:
760px;
top
:
0px;
}
}
.note2 {
	position: absolute;
	width: 50px;
	height: 50px;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-name: note2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@
keyframes note2 { 0%{
	left: 700px;
	top: -60px;
}

25
%
{
left
:
640px;
top
:
0px;
}
50
%
{
left
:
700px;
top
:
60px;
}
75
%
{
left
:
760px;
top
:
0px;
}
100
%
{
left
:
700px;
top
:
-60px;
}
}
.note3 {
	position: absolute;
	width: 50px;
	height: 50px;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-name: note3;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@
keyframes note3 { 0%{
	left: 700px;
	top: 60px;
}

25
%
{
left
:
760px;
top
:
0px;
}
50
%
{
left
:
700px;
top
:
-60px;
}
75
%
{
left
:
640px;
top
:
0px;
}
100
%
{
left
:
700px;
top
:
60px;
}
}
.box {
	position: relative;
}

.box:before {
	content: '';
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 50px;
	width: 50px;
	height: 50px;
	border-radius: 2px;
	transform: rotate(45deg);
	-webkit-animation: box 1.25s infinite;
}

@
-webkit-keyframes box { 0%{
	top: 50px;
}

20
%
{
border-radius
:
2px;
}
50
%
{
top
:
80px;
border-bottom-right-radius
:
25px;
}
80
%
{
border-radius
:
2px;
}
100
%
{
top
:
50px;
}
}

@
-webkit-keyframes shadow { 0%,100%{
	left: 54px;
	width: 40px;
	background: #eaeaea;
}

50
%
{
top
:
126px;
left
:
50px;
width
:
50px;
height
:
7px;
background
:
#eee;
}
}
for search result 
#padding {
	padding: 0px 0px 15px 15px;
}

a {
	color: #000000;
	font-size: 30px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.border-style {
	border-radius: 90px/90px;
}